#footer-primary {
  background-color: #fff;
  color: black;
  text-align: center;
  vertical-align: top;
  margin-top: 20px;
}

#footer-primary div.col-1-4 {
	  	padding-top: 20px;
	  	padding-bottom: 20px;
	  	@include small-and-above {
	  		
  	}
}

.icons a {
	display: inline-block;
	border: solid 1px #333;
	width: 50px;
	height: 50px;
	cursor: pointer;
	font-size: 30px;
	color: $black;
	line-height: 48px;
	margin-right: 2px;
}


.icons a:hover {
	color: #E65100;
	transition: 0.3s;
	border: solid 1px #E65100;
}

.footer-adress {
	line-height: 1.3em;
	color: $blue;
	@include medium-and-above {
			text-align: left;
	}
}

.footer > div {
	padding-bottom: 0;
}

.footer-number p{
	margin: 0;
}

.footer-second {
	border-top: solid 1px $black;
	margin: 0;
}

